@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&family=Taviraj:wght@200;300;500;600;700&display=swap");
.hamburger {
  border: 2px solid #fff;
  border: none;
  height: 1.25rem;
  width: 1.25rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}
@media (min-width: 820px) {
  .hamburger {
    display: none;
  }
}
.hamburger .bar {
  height: 0.125rem;
  width: 100%;
  background: #ead2a1;
  border-radius: 0.5rem;
  position: relative;
  border: none;
  transition: 0.25s;
}
.hamburger .bar::before, .hamburger .bar::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #f4f4f4;
  border-radius: 0.5rem;
  transition: 0.25s;
  z-index: -1;
}
.hamburger .bar::before {
  transform: translateY(-0.4rem);
}
.hamburger .bar::after {
  transform: translateY(0.4rem);
}
.hamburger.active .bar {
  background: #ead2a1;
  transform: translateX(-0.25rem);
}
.hamburger.active .bar::before {
  transform: translateY(-0.4rem) translateX(0.25rem);
}
.hamburger.active .bar::after {
  transform: translateY(0.4rem) translateX(-0.25rem);
}

.btn {
  display: flex;
  position: relative;
  width: 11rem;
  padding: 1rem;
  color: #f4f4f4;
  font-size: 1.05rem;
  font-weight: 500;
  text-decoration: none;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.05rem;
  transition: 0.25s;
  isolation: isolate;
  border: 0.125rem solid transparent;
  border-radius: 0.5rem;
}
.btn::before, .btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.25s;
  border-radius: 0.5rem;
  z-index: -1;
}
.btn::before {
  background: linear-gradient(90deg, #0a0c0f, #20262e);
  box-shadow: none;
  border: 0.15rem solid #ead2a1;
}
.btn::after {
  background: linear-gradient(-90deg, black 20%, #20262e);
  box-shadow: none;
  opacity: 0;
  border: 0.15rem solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 820px) {
  .btn:active {
    transform: scale(0.98);
    letter-spacing: normal;
  }
  .btn:active::before {
    opacity: 0;
  }
  .btn:active::after {
    opacity: 1;
  }
}
@media (min-width: 820px) {
  .btn:hover {
    transform: scale(0.98);
    letter-spacing: normal;
  }
  .btn:hover::before {
    opacity: 0;
  }
  .btn:hover::after {
    opacity: 1;
  }
  .btn:hover i::before, .btn:hover i::after {
    animation: none;
    color: #ead2a1;
  }
}
.btn i::before, .btn i::after {
  position: absolute;
  color: #f4f4f4;
  opacity: 1;
  top: 50%;
  font-size: 1rem;
  transform: translateY(-50%);
  right: 1rem;
  transition: 0.25s;
}
.btn i::before {
  content: "";
  font-family: "Font Awesome 6 Free";
  animation: arrow 1.5s infinite;
}
.btn i::after {
  content: "";
  font-family: "Font Awesome 6 Free";
  animation: arrow-2 1.5s infinite;
}
@keyframes arrow {
  50% {
    transform: translateY(-50%) translateX(0.15rem);
    opacity: 0;
  }
}
@keyframes arrow-2 {
  50% {
    opacity: 1;
    color: #000;
    color: #ead2a1;
  }
}

header {
  position: fixed;
  top: 0;
  background: #0a0c0f;
  background: #29323c;
  height: 7vh;
  width: 100vw;
  margin: 0;
  z-index: 10;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.25s;
}
@media (min-width: 768px) {
  header {
    height: 8vh;
  }
}
header .logo {
  background: linear-gradient(90deg, #000 20%, #20262e);
  background: #000;
  border: 0.105rem solid rgba(255, 255, 255, 0.2);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 7rem;
  width: max-content;
  transition: 1s;
  text-align: left;
}
@media (min-width: 768px) {
  header .logo {
    text-align: left;
  }
}
header .logo a {
  color: #ead2a1;
  text-transform: capitalize;
  font-size: 1.05rem;
  text-decoration: none;
  font-family: "Taviraj", serif;
}
header .logo a span {
  color: #f4f4f4;
  font-family: "Taviraj", serif;
}
@media (min-width: 768px) {
  header .logo a {
    font-size: 1.5rem;
  }
}
header aside {
  position: absolute;
  background: linear-gradient(60deg, #1f252d, #343f4c);
  width: 100%;
  height: 100vh;
  top: 7vh;
  left: 100vw;
  overflow: hidden;
  padding: 5vh 0;
  transition: 0.5s;
}
@media (min-width: 820px) {
  header aside {
    display: none;
  }
}
header aside ul {
  width: 90%;
  padding: 0vh 0.5rem 5vh;
  list-style: none;
  overflow: hidden;
}
header aside ul li {
  text-transform: capitalize;
  margin-bottom: 1rem;
  padding: 0.5rem;
  transition: 0.25s;
  position: relative;
}
header aside ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  background: #ead2a1;
  border-radius: 0.5rem;
  transform: translateX(40%);
  opacity: 0;
  transition: 0.7s;
}
header aside ul li a {
  text-decoration: none;
  text-transform: capitalize;
  color: #f4f4f4;
  transition: 0.25s;
  padding: 0.5rem 2rem 0 0;
  letter-spacing: 0.025rem;
  width: max-content;
  display: block;
  position: relative;
}
header aside ul li a::after {
  content: attr(data-after);
  position: absolute;
  top: -100%;
  left: 40%;
  color: #ead2a1;
  font-size: 2.8rem;
  font-family: "Taviraj", serif;
  opacity: 0;
  letter-spacing: 0.5rem;
  transform: 1s;
}
header aside ul li:hover {
  border: none;
}
header aside ul li:hover a::after {
  opacity: 0.2;
  letter-spacing: normal;
}
header aside .contact-links {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  gap: 1rem;
}
header aside .contact-links a {
  color: #ead2a1;
  font-size: 1rem;
  text-decoration: none;
  letter-spacing: 0.025rem;
  opacity: 0;
  transition: 1s;
}
header aside .contact-links a i {
  padding-right: 0.5rem;
  color: #f4f4f4;
  transform: translateX(-1rem);
  transition: 0.5s;
}
header aside.active {
  left: 5vw;
}
header aside.active ul li a::after {
  transition: 0.25s;
}
header aside.active ul li::after {
  transform: translateX(0);
  opacity: 1;
}
header aside.active ul li:nth-child(1)::after {
  transition-delay: 0.25s;
}
header aside.active ul li:nth-child(2)::after {
  transition-delay: 0.3s;
}
header aside.active ul li:nth-child(3)::after {
  transition-delay: 0.35s;
}
header aside.active ul li:nth-child(4)::after {
  transition-delay: 0.4s;
}
header aside.active .contact-links a {
  opacity: 1;
}
header aside.active .contact-links a i {
  opacity: 1;
  transform: translateX(0);
}
header aside.active .contact-links a:nth-child(1) {
  transition-delay: 0.8s;
}
header aside.active .contact-links a:nth-child(1) i {
  transition-delay: 0.6s;
}
header aside.active .contact-links a:nth-child(2) {
  transition-delay: 0.8s;
}
header aside.active .contact-links a:nth-child(2) i {
  transition-delay: 0.7s;
}
header aside.active .contact-links a:nth-child(3) {
  transition-delay: 0.8s;
}
header aside.active .contact-links a:nth-child(3) i {
  transition-delay: 0.8s;
}
@media (max-width: 819px) {
  header .navbar {
    display: none;
  }
}
header .navbar ul {
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  list-style: none;
  padding: 0.25rem 0.5rem;
}
header .navbar ul li {
  text-transform: capitalize;
}
header .navbar ul li a {
  color: #f4f4f4;
  text-decoration: none;
  transition: 0.25s;
}
header .navbar ul li a:hover {
  color: #ead2a1;
}
header.aside-header {
  background: #29323c;
}
header.aside-header .logo {
  transform: translateY(0);
}
header.hero-header {
  background: transparent;
}
header.hero-header .logo {
  border: 0.105rem solid rgba(255, 255, 255, 0.2);
}

.hero {
  width: 100%;
  min-height: 100vh;
}
.hero .banner {
  min-height: 100vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1605903211242-9821559b5b10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  background-image: url("../img/kyle-sung-oQuP_XBjOMY-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10vh 5vw;
  overflow: hidden;
  position: relative;
}
@media (min-width: 768px) {
  .hero .banner {
    background-image: url("../img/ales-nesetril-Im7lZjxeLhg-unsplash-bg.jpg");
    background-position: 0% 25%;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 80%;
    background-attachment: fixed;
    background-color: #000;
  }
}
.hero .banner .title {
  padding: 0.5rem;
  margin: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: left;
  text-transform: capitalize;
  border-radius: 0.5rem;
}
@media (min-width: 820px) {
  .hero .banner .title {
    width: max-content;
    padding: 5vh 0.5rem;
    margin: 10vh 0 0;
  }
}
.hero .banner .title h1 {
  font-size: 2.85rem;
  font-family: "Taviraj", serif;
  color: #f4f4f4;
}
@media (min-width: 768px) {
  .hero .banner .title h1 {
    font-size: 2.8rem;
    margin-bottom: 5vh;
  }
}
.hero .banner .title p {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #f4f4f4;
  font-weight: 500;
}
.hero .banner .title p a {
  color: #ead2a1;
  text-decoration: none;
  display: block;
}
@media (min-width: 768px) {
  .hero .banner .title p {
    font-size: 1.25rem;
  }
}
@media (max-width: 820px) {
  .hero .banner .btn {
    position: absolute;
    bottom: 15vh;
    left: 5vw;
  }
}
@media (min-width: 820px) {
  .hero .banner .btn {
    width: 15rem;
    font-size: 1.05rem;
    position: relative;
    margin: 0;
  }
}
.hero .banner .btn::before {
  background: linear-gradient(90deg, #0a0c0f, #20262e);
  background: linear-gradient(90deg, #0a0c0f, #20262e);
  box-shadow: inset 2px 2px 2px rgba(225, 225, 225, 0.3), inset -2px -2px 3px rgba(0, 0, 0, 0.35), 4px 4px 2px rgba(0, 0, 0, 0.15);
  box-shadow: none;
  border: 0.15rem solid #ead2a1;
}
.hero .banner .btn::after {
  background: linear-gradient(-90deg, black 20%, #20262e);
  box-shadow: none;
  border: 0.15rem solid rgba(255, 255, 255, 0.2);
}
@media (min-width: 820px) {
  .hero .banner .btn:hover i::before {
    opacity: 0;
  }
  .hero .banner .btn:hover i::after {
    opacity: 1;
  }
}
@media (max-width: 820px) {
  .hero .banner .btn:active i::before {
    opacity: 0;
  }
  .hero .banner .btn:active i::after {
    opacity: 1;
  }
}
.hero .menu {
  min-height: 100vh;
  padding: 0 0 0;
}
.hero .menu .menu-section {
  position: relative;
  isolation: isolate;
  text-align: center;
  min-height: 100vh;
  padding: 10vh 5vw;
  background: #0a0c0f;
}
.hero .menu .menu-section:nth-of-type(even) {
  background: green;
  background: #20262e;
}
.hero .menu .menu-section .menu-content {
  display: flex;
  flex-direction: column;
}
@media (min-width: 820px) {
  .hero .menu .menu-section .menu-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
.hero .menu .menu-section .menu-title {
  color: #f4f4f4;
  text-align: left;
}
@media (min-width: 820px) {
  .hero .menu .menu-section .menu-title {
    width: 50%;
  }
}
.hero .menu .menu-section .menu-title h1 {
  text-transform: capitalize;
  font-size: 1.5rem;
  font-family: "Taviraj", serif;
  color: #ead2a1;
  letter-spacing: 0.025rem;
}
.hero .menu .menu-section .menu-title p {
  font-size: 0.95rem;
  line-height: 1.6;
  width: 85%;
}
@media (min-width: 576px) {
  .hero .menu .menu-section .menu-title p {
    width: 100%;
  }
}
.hero .menu .menu-section .menu-arrow {
  width: 100%;
  overflow: hidden;
  margin-top: 5vh;
}
.hero .menu .menu-section .menu-arrow a {
  color: #ead2a1;
  border: 2px solid #fffa;
  display: block;
  text-decoration: none;
  transition: 0.25s;
  width: max-content;
  margin: 0 auto;
  border-radius: 0.5rem;
}
.hero .menu .menu-section .menu-arrow a i {
  padding: 0.5rem;
  font-size: 1rem;
}
@keyframes menu-arrow {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(100%);
    opacity: 0;
  }
  60% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.hero .menu .menu-section .menu-arrow a:hover {
  transform: scale(0.9);
}
.hero .menu .menu-section .menu-arrow a:hover i {
  animation: none;
}
.hero .menu .menu-section .device-grid {
  overflow: hidden;
  margin: 5vh 0;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media (min-width: 768px) {
  .hero .menu .menu-section .device-grid {
    width: 30rem;
  }
}
.hero .menu .menu-section .device-grid .device {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  height: 13vh;
  width: 100%;
  background: linear-gradient(60deg, #1f252d, #343f4c);
  border-left: 0.105rem solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.105rem solid rgba(255, 255, 255, 0.2);
  border-radius: 0.5rem;
}
.hero .menu .menu-section .device-grid .device .device-img {
  height: 100%;
  width: 5rem;
  position: relative;
  transition: 0.25s;
}
.hero .menu .menu-section .device-grid .device .device-img::before, .hero .menu .menu-section .device-grid .device .device-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.25s;
}
.hero .menu .menu-section .device-grid .device .device-img.sm-img::before {
  background-image: url("https://img.icons8.com/color/48/000000/smartphone.png");
  opacity: 1;
}
.hero .menu .menu-section .device-grid .device .device-img.sm-img::after {
  background-image: url("https://img.icons8.com/dusk/64/000000/touchscreen-smartphone.png");
  opacity: 0;
}
.hero .menu .menu-section .device-grid .device .device-img.md-img::before {
  background-image: url("https://img.icons8.com/color/96/000000/android-tablet.png");
  opacity: 1;
}
.hero .menu .menu-section .device-grid .device .device-img.md-img::after {
  background-image: url("https://img.icons8.com/external-wanicon-lineal-color-wanicon/64/000000/external-tablet-online-learning-wanicon-lineal-color-wanicon.png");
  opacity: 0;
}
.hero .menu .menu-section .device-grid .device .device-img.lg-img::before {
  background-image: url("https://img.icons8.com/officel/80/000000/monitor.png");
  opacity: 1;
}
.hero .menu .menu-section .device-grid .device .device-img.lg-img::after {
  background-image: url("https://img.icons8.com/bubbles/100/000000/cursor.png");
  opacity: 0;
}
.hero .menu .menu-section .device-grid .device .device-caption {
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
  margin: auto 0;
}
.hero .menu .menu-section .device-grid .device .device-caption h2 {
  color: #f4f4f4;
  font-size: 1rem;
  margin-bottom: 0.2rem;
  font-weight: 500;
  transition: 0.25s;
}
.hero .menu .menu-section .device-grid .device .device-caption p {
  color: #bbb;
  font-size: 0.95rem;
  transition: 0.25s;
}
.hero .menu .menu-section .device-grid .device.io-item .device-img {
  opacity: 0;
  transform: translateX(-0.5rem);
}
.hero .menu .menu-section .device-grid .device.io-item .device-caption h2 {
  letter-spacing: 0.05rem;
}
.hero .menu .menu-section .device-grid .device.io-item .device-caption p {
  opacity: 0;
}
.hero .menu .menu-section .device-grid .device.active-item .device-caption h2 {
  letter-spacing: normal;
  transition: 0.5s 0.25s;
}
.hero .menu .menu-section .device-grid .device.active-item .device-caption p {
  opacity: 1;
  transition: 0.5s 0.5s;
}
.hero .menu .menu-section .device-grid .device.active-item .device-img {
  opacity: 1;
  transform: translateX(0);
  transition: 0.5s;
}
.hero .menu .menu-section .device-grid .device.active-item:hover .device-caption h2 {
  opacity: 0.5;
  transition: 0.25s 0.25s;
}
.hero .menu .menu-section .device-grid .device.active-item:hover .device-caption p {
  color: #ead2a1;
  transition: 0.25s 0.25s;
}
.hero .menu .menu-section .device-grid .device.active-item:hover .device-img::before {
  opacity: 0;
  transition: 0.5s;
}
.hero .menu .menu-section .device-grid .device.active-item:hover .device-img::after {
  opacity: 1;
  transition: 0.5s;
}
.hero .menu .menu-section .css-image {
  height: 50vh;
  width: 100%;
  overflow: hidden;
  margin: 1rem auto;
}
@media (min-width: 768px) {
  .hero .menu .menu-section .css-image {
    height: 50vh;
    margin: 10vh auto;
  }
}
.hero .menu .menu-section .css-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: drop-shadow(0.5rem 0.5rem 0.15rem #000a);
  transition: 0.5s;
}
.hero .menu .menu-section .css-image.io-item img {
  transform: scale(0.8);
}
.hero .menu .menu-section .css-image.active-item img {
  transform: scale(1);
  transition: 1s;
}
.hero .menu .menu-section .css-image.active-item:hover img {
  animation: cssImage 2s infinite;
}
@keyframes cssImage {
  50% {
    transform: rotateY(-10deg);
    filter: drop-shadow(0.25rem 0.25rem 0.15rem #000);
  }
}

.contact .contact-container .contact-item {
  border: 0.105rem solid rgba(234, 210, 161, 0.4);
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
.contact .contact-container .contact-item .contact-icon {
  width: 2.5rem;
}
.contact .contact-container .contact-item .contact-icon i {
  font-size: 1.5rem;
}
.contact .contact-container .contact-item .contact-info {
  padding-left: 2rem;
}
.contact .contact-container .contact-item .contact-info h2 {
  text-transform: capitalize;
  color: #29323c;
}
.contact .contact-container .contact-item .contact-info a {
  text-decoration: none;
  color: #20262e;
  letter-spacing: 0.05rem;
}

.about .flex-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .about .flex-container {
    flex-direction: row;
  }
}
.about .about-article {
  margin: 5vh 0;
  overflow: hidden;
}
.about .about-article p {
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 500;
  color: #29323c;
  margin-bottom: 1rem;
  transition: 1s;
}
@media (min-width: 768px) {
  .about .about-article p {
    font-size: 1.05rem;
  }
}
.about .about-article p.article-intro {
  font-weight: 600;
}
.about .about-article p.article-intro::first-letter {
  color: #ead2a1;
  font-family: "Taviraj", serif;
  font-size: 2rem;
  float: left;
  margin-right: 0.2rem;
  border-radius: 0.25rem;
  padding: 0 0.3rem 0 0.25rem;
  background: linear-gradient(60deg, #1f252d, #343f4c);
  text-shadow: 2px 2px 0px #000;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  .about .about-article p.article-intro::first-letter {
    font-size: 2.5rem;
  }
}
.about .about-article p.io-item {
  opacity: 0.5;
  transform: translateY(1rem);
}
.about .about-article p.active-item {
  opacity: 1;
  transform: translateY(0);
}
.about .about-img {
  overflow: hidden;
  border-radius: 0.5rem;
}
.about .about-img img {
  width: 100%;
  transition: 1s;
}
@media (min-width: 768px) {
  .about .about-img {
    width: 100%;
    opacity: 1;
  }
}
.about .about-img.io-item img {
  transform: scale(2);
  opacity: 1;
}
.about .about-img.active-item img {
  transform: scale(1);
  opacity: 1;
  transition: 1.5s;
}
.about .btn {
  font-size: 1rem;
  margin: 5vh 0 1rem;
}
@media (min-width: 768px) {
  .about .btn {
    margin-top: -5vh;
  }
}

footer {
  min-height: 20vh;
  width: 100%;
  background: linear-gradient(60deg, #1f252d, #343f4c);
  padding: 5vh 5vw;
}
footer .copyright {
  border-radius: 1rem;
  color: #fff;
  height: 50%;
  width: 100%;
  padding: 1rem;
  text-transform: capitalize;
}
footer .copyright p {
  line-height: 1.7;
}
footer .copyright p span {
  display: block;
  color: #f4f4f4;
}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(#050505, #000);
  width: 100%;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  min-height: 200vh;
  position: relative;
}
.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100%;
  height: 100%;
  background: #000a;
}
.container.active-container::after {
  left: 0;
}
.container main {
  min-height: 100vh;
  width: 100%;
  border: 2px solid white;
}
.container main section {
  min-height: 100vh;
  width: 100%;
  padding: 7vh 5vw;
  background: radial-gradient(#f4f4f4, #fff);
  border-bottom: 0.15rem dashed rgba(0, 0, 0, 0.247);
  position: relative;
}
.container main section .section-title {
  overflow: hidden;
}
@media (min-width: 768px) {
  .container main section .section-title {
    top: 9vh;
  }
}
.container main section .section-title h1 {
  border: 0.105rem solid rgba(0, 0, 0, 0.7);
  border-color: transparent;
  border-radius: 0.5rem;
  text-transform: capitalize;
  font-family: "Taviraj", serif;
  font-size: 2rem;
  font-size: 3rem;
  color: #29323c;
  font-weight: 600;
  padding: 0 0.5rem;
  width: 7rem;
  width: max-content;
  transition: 0.5s;
}
@media (min-width: 576px) {
  .container main section .section-title h1 {
    width: 10rem;
    font-size: 2.5rem;
  }
}
.container main section .section-title.active-title h1 {
  opacity: 0.6;
}

/*# sourceMappingURL=style.css.map */
