@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&family=Taviraj:wght@200;300;500;600;700&display=swap");
.hamburger {
  border: 2px solid #fff;
  border: none;
  height: 1.25rem;
  width: 1.25rem;
  display: grid;
  place-items: center;
  cursor: pointer;
}
@media (min-width: 820px) {
  .hamburger {
    display: none;
  }
}
.hamburger .bar {
  height: 0.125rem;
  width: 100%;
  background: #fff;
  border-radius: 0.5rem;
  position: relative;
  border: none;
}
.hamburger .bar::before, .hamburger .bar::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: #ead2a1;
  border-radius: 0.5rem;
  transition: 0.25s;
  z-index: -1;
}
.hamburger .bar::before {
  transform: translateY(-0.4rem);
}
.hamburger .bar::after {
  transform: translateY(0.4rem);
}
.hamburger.active .bar {
  background: #ead2a1;
}
.hamburger.active .bar::before, .hamburger.active .bar::after {
  transform: translateY(0);
}

.btn {
  border: 0.125rem solid transparent;
  border-radius: 0.5rem;
  display: block;
  width: 10rem;
  width: max-content;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  letter-spacing: 0.05rem;
  transition: 0.25s;
  position: relative;
  isolation: isolate;
}
.btn::before, .btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.25s;
  border-radius: 0.5rem;
  z-index: -1;
}
.btn::before {
  background: #333;
  box-shadow: inset 2px 2px 3px rgba(225, 225, 225, 0.3), inset -2px -2px 3px rgba(0, 0, 0, 0.3), 4px 4px 2px rgba(0, 0, 0, 0.15);
}
.btn::after {
  background: blue;
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.25), inset -2px -2px 3px rgba(221, 221, 221, 0.25), 0px 4px 1px rgba(0, 0, 0, 0.15);
  opacity: 0;
}
@media (max-width: 820px) {
  .btn:active {
    transform: scale(0.98);
    letter-spacing: normal;
  }
  .btn:active::before {
    opacity: 0;
  }
  .btn:active::after {
    opacity: 1;
  }
}
@media (min-width: 820px) {
  .btn:hover {
    transform: scale(0.98);
    letter-spacing: normal;
  }
  .btn:hover::before {
    opacity: 0;
  }
  .btn:hover::after {
    opacity: 1;
  }
}

header {
  position: fixed;
  top: 0;
  background: #29323c;
  height: 7vh;
  width: 100vw;
  margin: 0;
  z-index: 10;
  padding: 0 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}
@media (min-width: 768px) {
  header {
    height: 8vh;
  }
}
header .logo {
  background-color: #20262e;
  border: 0.1rem solid #ead2a1;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: 1s;
}
header .logo a {
  color: #ead2a1;
  text-transform: capitalize;
  font-size: 1rem;
  text-decoration: none;
  font-family: "Taviraj", serif;
}
header .logo a span {
  color: #f4f4f4;
  font-family: "Taviraj", serif;
}
@media (min-width: 768px) {
  header .logo a {
    font-size: 1.5rem;
  }
}
header aside {
  position: absolute;
  background-color: #20262e;
  width: 100%;
  height: 100vh;
  top: 7vh;
  left: 100vw;
  overflow: hidden;
  padding: 5vh 0;
  transition: 0.5s;
}
@media (min-width: 768px) {
  header aside {
    display: none;
  }
}
header aside ul {
  width: 90%;
  padding: 5vh 0.5rem;
  list-style: none;
}
header aside ul li {
  text-transform: capitalize;
  margin-bottom: 1rem;
  padding: 0.5rem;
  transition: 0.25s;
  position: relative;
}
header aside ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.15rem;
  background: #ead2a1;
  border-radius: 0.5rem;
  transform: translateX(40%);
  opacity: 0;
  transition: 0.7s;
}
header aside ul li a {
  text-decoration: none;
  color: #f4f4f4;
  transition: 0.25s;
  padding: 0.5rem 0;
  letter-spacing: 0.025rem;
  width: 70%;
  display: block;
}
header aside ul li:hover {
  background: #333;
  border: none;
}
header aside ul li:hover a {
  letter-spacing: normal;
}
header aside.active {
  left: 5vw;
}
header aside.active ul li::after {
  transform: translateX(0);
  opacity: 1;
}
header aside.active ul li:nth-child(1)::after {
  transition-delay: 0.25s;
}
header aside.active ul li:nth-child(2)::after {
  transition-delay: 0.3s;
}
header aside.active ul li:nth-child(3)::after {
  transition-delay: 0.35s;
}
header aside.active ul li:nth-child(4)::after {
  transition-delay: 0.4s;
}
@media (max-width: 820px) {
  header .navbar {
    display: none;
  }
}
header .navbar ul {
  border-radius: 0.5rem;
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  list-style: none;
  padding: 0.25rem 0.5rem;
}
header .navbar ul li {
  text-transform: capitalize;
}
header .navbar ul li a {
  color: #f4f4f4;
  text-decoration: none;
  transition: 0.25s;
}
header .navbar ul li a:hover {
  color: #ead2a1;
}
header.aside-header {
  background: #29323c;
}
header.aside-header .logo {
  transform: translateY(0);
}
header.hero-header {
  background: transparent;
}

.hero {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(0deg, #1f252d 30%, #343f4c 70%);
}
.hero .banner {
  min-height: 100vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1605903211242-9821559b5b10?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80");
  background-image: url("../img/kyle-sung-oQuP_XBjOMY-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10vh 5vw;
  overflow: hidden;
}
@media (max-width: 820px) {
  .hero .banner {
    position: relative;
  }
}
@media (min-width: 768px) {
  .hero .banner {
    background-image: url("../img/ales-nesetril-Im7lZjxeLhg-unsplash-bg.jpg");
    background-position: 10% 30%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-size: cover;
    width: 100%;
    background-attachment: fixed;
  }
}
.hero .banner .title {
  padding: 0.5rem;
  margin: 5vh 0 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  text-align: left;
  text-transform: capitalize;
  border: 1px solid #ead2a1;
  border-radius: 0.5rem;
}
@media (min-width: 768px) {
  .hero .banner .title {
    border: 1px solid red;
  }
}
.hero .banner .title h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
  line-height: 1;
  font-family: "Taviraj", serif;
  color: #f4f4f4;
}
@media (min-width: 768px) {
  .hero .banner .title h1 {
    font-size: 2.8rem;
  }
}
.hero .banner .title p {
  font-size: 1.05rem;
  line-height: 1.6;
  color: #bbb;
  font-weight: 500;
}
@media (min-width: 768px) {
  .hero .banner .title p {
    font-size: 1.25rem;
  }
}
.hero .banner .btn {
  width: 10rem;
  text-align: center;
  padding: 1rem;
  text-transform: capitalize;
  color: #000;
  font-weight: 500;
  position: absolute;
  bottom: 10vh;
  left: 5vw;
}
.hero .banner .btn i {
  margin-left: 0.25rem;
}
.hero .banner .btn::before {
  background: linear-gradient(0deg, #d9ae59, #e3c382);
}
.hero .banner .btn::after {
  background: linear-gradient(0deg, #e3c382, #d9ae59);
}
@media (min-width: 768px) {
  .hero .banner .btn {
    bottom: -15vh;
  }
}

footer {
  min-height: 50vh;
  width: 100%;
  background: #20262e;
}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top: 7vh;
}

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(#050505, #000);
  width: 100%;
  position: relative;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  min-height: 200vh;
  position: relative;
}
.container main {
  min-height: 100vh;
  width: 100%;
  border: 2px solid white;
}
.container main section {
  min-height: 100vh;
  width: 100%;
  padding: 5vh 5vw;
  background: radial-gradient(#f4f4f4, #fff);
  border-bottom: 0.15rem dashed black;
}

/*# sourceMappingURL=style.css.map */
