// BACKGROUND COLORS
$background-light: #fff;
$background-gray: #f4f4f4;
$background-dark: #333;
$background-light: #fff;
$brand-overlay: #a6b2bf;

// TEXT COLORS

// BRAND COLORS
$brand-border: hsla(210, 19%, 75%, .5);



// GRADIENTS

// NAV COLORS
$nav-background: #29323c;
$nav-active-background: #1b2127;

// BUTTON COLORS
$button-crimson: linear-gradient(0deg, #3f0d0d, #dc134c);
$button-light: linear-gradient(0deg, #ddd, #f4f4f4);
$button-light-hover: linear-gradient(0deg, #f4f4f4, #ddd);
$button-crimson-hover: linear-gradient(0deg, #dc134c , #3f0d0d);

// FORM COLORS  
$background-invalid: #f7cdd5c7;
$text-invalid: #000;
$background-valid: #cdf7d3c7;
$text-valid: #000;