.contact {
    .contact-container {
        // border: 2px solid blue;
        margin-top: 5vh;
        @include md {
            // border: 2px solid red;
            margin-top: 10vh;
            display: flex;
            justify-content: space-around;
            gap: 1rem;
        }
        .contact-item {
            border: $border-brand-sm;
            margin-bottom: 1rem;
            padding: 1rem .5rem;
            border-radius: $border-radius-sm;
            background: $overlay;
            display: flex;
            align-items: center;
            overflow: hidden;
            @include md {
                flex-grow: 1;
                border-color: $overlay-blue-dark;
                padding: 1rem .5rem;
            }

            .contact-icon {
                // border: 2px solid yellow;
                width: 2.5rem;
                overflow: hidden;
                i {
                    font-size: 1.5rem;
                    color: $brand;
                    opacity: .8;
                }
            }
            
            .contact-info {
                // border: 2px solid green;
                // padding-left: 2rem;
                
                h2 {
                    font-size: 1.25rem;
                    text-transform: capitalize;
                    font-weight: 500;
                    color: $brand;
                    margin-bottom: .25rem;
                    @include md {
                        font-size: 1.5rem;
                    }
                }

                a {
                    text-decoration: none;
                    color: $overlay-blue-darker;
                    color: $text-light;
                    letter-spacing: .05rem;
                }
            }

            // IO CLASS 
            &.io-item {
                .contact-icon {
                    i {
                        transform: scale(.5);
                        transition: 1s;
                    }
                }
                .contact-info {
                    h2 {
                        color: $text-light;
                        transition: 1s .5s;
                    }
                }
            }
            // IO ACTIVE CLASS 
            &.active-item {
                .contact-icon {
                    i {
                        transform: scale(1);
                    }
                }
                .contact-info {
                    h2 {
                        color: $brand;
                    }
                }
            }
        }
    }
}