.contact {
    .contact-container {
        // border: 2px solid blue;

        .contact-item {
            border: 1px solid $overlay-blue-dark;
            margin-bottom: 1rem;
            padding: .5rem;
            border-radius: $border-radius-sm;

            .contact-icon {
                // border: 2px solid yellow;
                width: 2.5rem;
                i {
                    font-size: 1.5rem;
                }
            }
            
            .contact-info {
                // border: 2px solid green;
                padding-left: 2rem;

                h2 {
                    text-transform: capitalize;
                    color: $overlay-blue-darker;
                }

                a {
                    text-decoration: none;
                    color: $overlay-blue-dark;
                    letter-spacing: .05rem;
                }
            }

        }
    }
}