@import 'variables';
@import 'utilities';
@import 'header';
@import 'hero';
@import 'skills';
@import 'contact';
@import 'mixin';
@import 'work';
@import 'about';
@import 'footer';
*, ::before, ::after {
    // border: 1px solid red;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-padding-top: 7vh;
}


html {
    scroll-behavior: smooth
}
body {
    background: $background-primary;
    width: 100%;
    position: relative;
    font-family: $font-content;
}

.container {
    // border: 2px solid #fff000;
    // overflow-x: hidden;
    width: 100%;
    min-height: 200vh;
    position: relative;

    main {
        min-height: 100vh;
        width: 100%;
        border: 2px solid white;

        section {
            min-height: 100vh;
            width: 100%;
            padding: 7vh 5vw;
            background: $background-secondary;
            border-bottom: .15rem dashed black;
            position: relative;

            .section-title {
                position: sticky;
                top: 8vh;
                overflow: hidden;
                @include md {
                    top: 9vh;
                }
                h1 {
                    border: $border-dark-sm;
                    border-color: transparent;
                    border-radius: $border-radius-sm;
                    text-transform: capitalize;
                    font-family: $font-title;
                    font-size: 2rem;
                    color: $overlay-blue-dark;
                    background-color: #fffa;
                    font-weight: 600;
                    width: 7rem;
                    width: max-content;
                    padding: 0 .5rem;
                    // margin: 0 auto;
                    // float: right;
                    // text-align: right;
                    // margin-left: 45%;
                    transition: .5s;
                    @include sm {
                        width: 10rem;
                        font-size: 2.5rem;
                    }
                }

                &.active-title {
                    h1 {
                        border: $border-dark-sm;
                        font-size: 1rem;
                        @include md {
                            font-size: 1.25rem;
                        }
                        // border-bottom-left-radius: .5rem;
                        // border-bottom-right-radius: .5rem;
                    }
                }
            }
        }
    }
}