@import 'variables';
@import 'utilities';
@import 'header';
@import 'hero';
@import 'skills';
@import 'contact';
@import 'mixin';
@import 'work';
@import 'about';
@import 'footer';
*, ::before, ::after {
    // border: 1px solid red;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-padding-top: 7vh;
}


html {
    scroll-behavior: smooth
}
body {
    background: $background-primary;
    width: 100%;
    position: relative;
    font-family: $font-content;
}

.container {
    // border: 2px solid #fff000;
    overflow-x: hidden;
    width: 100%;
    min-height: 200vh;
    position: relative;

    main {
        min-height: 100vh;
        width: 100%;
        border: 2px solid white;

        section {
            min-height: 100vh;
            width: 100%;
            padding: 5vh 5vw;
            background: $background-secondary;
            border-bottom: .15rem dashed black;
        }
    }
}