@use '../abstracts';

.about {
    .flex-container {
        display: flex;
        flex-direction: column;
        @include abstracts.md {
            flex-direction: row;
        }
    }
    .about-article {
        // border: 1px solid red;
        margin: 5vh 0;
        // overflow: hidden;

        p {
            line-height: 1.5;
            font-size: 1rem;
            font-weight: 500;
            color: abstracts.$overlay-blue-dark;
            margin: 1rem 0;
            transition: 1s;
            a, span {
                text-decoration: none;
                color: inherit;
                font-weight: 600;
            }
            @include abstracts.md {
                font-size: 1.05rem;
            }
            &.article-intro {
                font-weight: 600;

                &::first-letter {
                    color: abstracts.$brand;
                    font-family: abstracts.$font-title;
                    font-size: 2rem;
                    float: left;
                    margin-right: .2rem;
                    // border: 1px solid blue;
                    border-radius: .25rem;
                    padding: 0 .3rem 0 .25rem;
                    background: abstracts.$overlay-dark;
                    text-shadow: 2px 2px 0px #000;
                    box-shadow: 2px 2px 2px rgba(0, 0, 0, .15);
                    @include abstracts.md {
                        font-size: 2.5rem;
                    }
                }
            }
        }

        ul {
            // border: 1px solid red;
            
            li {
                margin-left: 5vw;
                margin-bottom: .5rem;
                @include abstracts.md {
                    margin-left: 1rem;
                }
            }

            &.io-item {
                li {
                    opacity: 0;
                    transform: translateX(.25rem);
                    transition: 1.5s;
                    &:nth-child(1){
                        transition-delay: .25s;
                    }
                    &:nth-child(2){
                        transition-delay: .35s;
                    }
                    &:nth-child(3){
                        transition-delay: .45s;
                    }
                    &:nth-child(4){
                        transition-delay: .55s;
                    }
                }
            }
            &.active-item {
                li {
                    opacity: 1;
                    transform: translateX(.25rem);
                }
            }
        }

    
    }

    .about-img {
        // border: 2px solid red;
        overflow: hidden;
        border-radius: abstracts.$border-radius-sm;

        img {
            width: 100%;
            transition: 1s;
        }

        @include abstracts.md {
            width: 100%;
            opacity: 1;
            // position: relative;
            // top: -30vh;
        }

        // IO CLASS
        &.io-item {
            img {
                transform: scale(1.1);
                opacity: 1;
            }
        }
        &.active-item {
            img {
            transform: scale(1);
            opacity: 1;
            transition: 1.5s;
            }


        }
    }

        // ABOUT BTN
        // NO DISPLAY ON MOBILE SCREENS
        
        .about-btn {
            font-size: 1rem;
            margin: 5vh 0 1rem;
            @include abstracts.md {
                margin-top: -5vh;
            }

            &::before {
                background: abstracts.$btn-brand-light;
                border: none;
                box-shadow: abstracts.$box-shadow;
            }
            &::after {
                background: abstracts.$btn-brand-light-hover;
                border: abstracts.$border-light-sm;
                box-shadow: abstracts.$box-shadow-hover;
            }
        }
}