@use '../abstracts';

#work {
    background: #f4f4f4;
    .items-container {
        // border: 2px solid red;
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 10vh;
        @include abstracts.md {
            margin-top: 10vh;
            flex-direction: row;
            gap: 1rem;
        }
        .work-item {
            width: 100%;
            padding-bottom: 1rem;
            padding: 1rem;
            // border-bottom: .25rem solid abstracts.$brand;
            display: flex;
            flex-direction: column-reverse;
            // border: 3px solid red;
            background: #fff;
            border-radius: .25rem;
            box-shadow: .125rem .5rem 1rem #0002;
            @include abstracts.md {
                text-align: center;
            }
            .item-title {
                color: abstracts.$overlay-blue-darker;
                text-transform: capitalize;

                h2 {
                    font-family: abstracts.$font-title;
                    margin-bottom: .25rem;
                }
                h3 {
                    margin-bottom: 1rem;
                }
                a {
                    color: abstracts.$overlay-blue-dark;
                    text-transform: none;
                    text-decoration: none;
                    position: relative;
                    &::after {
                        position: absolute;
                        right: -1.5rem;
                        top: 0;
                        content: '\f35d';
                        font-family: 'Font Awesome 6 Free';
                        font-weight: 600;
                        color: abstracts.$span-crimson;
                        opacity: 0;
                        transition: .5s;
                        transform:  scale(1.2) translateX(-.5rem);
                    }
                }
            }

            .item-image {
                // border: 1px solid green;
                margin: .5rem 0;
                width: 50%;
                @include abstracts.md {
                    display: grid;
                    place-items: center;
                }
                figure {
                    width: 100%;
                    height: 100%;
                    // border: 1px solid abstracts.$overlay-blue-light;
                    overflow: hidden;
                    border-radius: abstracts.$border-radius-sm;

                    img {
                        background-color: #fff;
                        border: 1px solid #0002;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: .5rem;
                    }
                    @include abstracts.md {
                        width: auto;
                        height: 40vh;

                        img {
                            object-fit: cover;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }

            // ITEM HOVER 
            &:hover {
                .item-title {
                    a {
                        &::after {
                            opacity: 1;
                        transform:  scale(1) translateX(0);
                        }
                    }
                }
            }
        }
    }
}